<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.evp.payment.ksher">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="com.pax.permission.PICC" />
    <uses-permission android:name="com.pax.permission.PRINTER" />
    <uses-permission android:name="com.pax.permission.PaymentService" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>
    <uses-permission android:name="android.permission.SET_ALARM"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application
        android:name=".function.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.evp.payment.evpksher.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider" />
        </provider>


        <service android:name="com.evp.appstore.DownloadParamService">
            <intent-filter>
                <action android:name="com.sdk.service.ACTION_TO_DOWNLOAD_PARAMS"/>
                <category android:name="com.evp.payment.evpksher"/>
            </intent-filter>
        </service>

        <receiver android:name=".utils.alarm.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".utils.alarm.AlarmReceiver"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".function.settlement.AutoSettlementActivity"
            android:theme="@style/Theme.AppCompat.Light.Dialog.Alert"
            android:label=""
            android:screenOrientation="nosensor" />
        <activity
            android:name=".function.history.detail.HistoryDetailByDateActivity"
            android:configChanges="orientation|mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|screenSize|smallestScreenSize|layoutDirection"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".function.history.summary.HistorySummaryByDateActivity"
            android:configChanges="orientation|mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|screenSize|smallestScreenSize|layoutDirection"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".function.history.summary.HistorySummaryByChannelActivity"
            android:configChanges="orientation|mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|screenSize|smallestScreenSize|layoutDirection"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".function.history.detail.HistoryDetailActivity"
            android:configChanges="orientation|mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|screenSize|smallestScreenSize|layoutDirection"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".function.history.detail.HistoryDetailByChannelActivity"
            android:configChanges="orientation|mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|screenSize|smallestScreenSize|layoutDirection"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".function.main.SplashActivity"
            android:configChanges="orientation|mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|screenSize|smallestScreenSize|layoutDirection"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="nosensor"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".function.main.MainActivity"
            android:configChanges="orientation|mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|screenSize|smallestScreenSize|layoutDirection"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".function.payment.PaymentSelectorActivity"
            android:configChanges="orientation|mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|screenSize|smallestScreenSize|layoutDirection"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".function.payment.PaymentAmountConfirmActivity"
            android:configChanges="orientation|mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|screenSize|smallestScreenSize|layoutDirection"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".utils.androidpermission.AndroidPermissionActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="nosensor"
            android:theme="@style/TransparentTheme" />
        <activity
            android:name=".utils.androidpermission.AndroidOverlayActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="nosensor"
            android:theme="@style/TransparentTheme" />
        <activity
            android:name=".function.payment.action.InputAmountActivity"
            android:configChanges="orientation|mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|screenSize|smallestScreenSize|layoutDirection"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".function.qr.ScanCodeActivity"
            android:configChanges="orientation|mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|screenSize|smallestScreenSize|layoutDirection"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".function.inquiry.suspendedqr.SuspendedQrActivity"
            android:configChanges="orientation|mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|screenSize|smallestScreenSize|layoutDirection"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:screenOrientation="nosensor" />
        <activity android:name=".function.main.InvokeActivity">
            <intent-filter>
                <action android:name="android.pax.payment.entry" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.pax.payment.entry" />

                <category android:name="android.pax.payment.sale" />
                <category android:name="android.pax.payment.void" />
                <category android:name="android.pax.payment.refund" />
                <category android:name="android.pax.payment.preAuth" />
                <category android:name="android.pax.payment.printTrans" />
                <category android:name="android.pax.payment.printTransTotal" />
                <category android:name="android.pax.payment.settle" />
                <category android:name="android.pax.payment.scanCode" />
                <category android:name="android.pax.payment.scanBarCode" />
                <category android:name="android.pax.payment.onlineQuery" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".function.payment.action.print.PrintActivity"
            android:configChanges="orientation|mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|screenSize|smallestScreenSize|layoutDirection"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".function.qr.GeneratorQRActivity"
            android:configChanges="orientation|mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|screenSize|smallestScreenSize|layoutDirection"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".function.settings.MoreActivity"
            android:configChanges="orientation|mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|screenSize|smallestScreenSize|layoutDirection"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".function.voided.InputTransactionActivity"
            android:configChanges="orientation|mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|screenSize|smallestScreenSize|layoutDirection"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".function.print.PrintInputTransactionActivity"
            android:configChanges="orientation|mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|screenSize|smallestScreenSize|layoutDirection"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".function.main.PaymentActionTypeActivity"
            android:configChanges="orientation|mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|screenSize|smallestScreenSize|layoutDirection"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".function.inquiry.InquiryInputTransactionActivity"
            android:configChanges="orientation|mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|screenSize|smallestScreenSize|layoutDirection"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".function.history.TransactionHistoryActivity"
            android:configChanges="orientation|mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|screenSize|smallestScreenSize|layoutDirection"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".function.settlement.SettlementActivity"
            android:configChanges="orientation|mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|screenSize|smallestScreenSize|layoutDirection"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".function.print.PrintLastSettlementActivity"
            android:configChanges="orientation|mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|screenSize|smallestScreenSize|layoutDirection"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".function.report.ReportAuditActivity"
            android:configChanges="orientation|mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|screenSize|smallestScreenSize|layoutDirection"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".function.report.ReportSummaryActivity"
            android:configChanges="orientation|mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|screenSize|smallestScreenSize|layoutDirection"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".function.settings.SettingActivity"
            android:configChanges="orientation|mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|screenSize|smallestScreenSize|layoutDirection"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".function.password.PasswordActivity"
            android:configChanges="orientation|mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|screenSize|smallestScreenSize|layoutDirection"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".function.password.PasswordEditActivity"
            android:configChanges="orientation|mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|screenSize|smallestScreenSize|layoutDirection"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".function.password.PasswordAdminActivity"
            android:configChanges="orientation|mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|screenSize|smallestScreenSize|layoutDirection"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".function.about.AboutActivity"
            android:configChanges="orientation|mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|screenSize|smallestScreenSize|layoutDirection"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".function.config.ConfigActivity"
            android:configChanges="orientation|mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|screenSize|smallestScreenSize|layoutDirection"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".function.config.CommunicationTypeActivity"
            android:configChanges="orientation|mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|screenSize|smallestScreenSize|layoutDirection"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".function.config.CommDetailActivity"
            android:configChanges="orientation|mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|screenSize|smallestScreenSize|layoutDirection"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".function.config.TransactionSettingActivity"
            android:configChanges="orientation|mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|screenSize|smallestScreenSize|layoutDirection"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".function.settings.OtherActivity"
            android:configChanges="orientation|mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|screenSize|smallestScreenSize|layoutDirection"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".function.config.AcquirerActivity"
            android:configChanges="orientation|mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|screenSize|smallestScreenSize|layoutDirection"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:screenOrientation="nosensor" />

    </application>

</manifest>